body,
html,
#root,
.App,
.container {
  width: 100%;
  height: 100%;
}

.container {
  font-size: 68px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4b0b0b;
}

.loginForm {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

.inputField {
  padding-top: 16px;
}

.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #d66a6a;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.submitButton {
  padding-top: 16px;
}

.btn {
  width: 50%;
  min-width: 200px;
  color: #363636;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #da4949;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
